<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <meta http-equiv='refresh' content='2'> --}}
    <title>Document Main</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/device.css" rel="stylesheet">
    <link href="/css/adm.css" rel="stylesheet">
    <link href="/css/sala.css" rel="stylesheet">
    <link href="/css/giche.css" rel="stylesheet">
    <link href="/css/giche.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    {{!-- <script type="module">
  import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
</script> --}}
    <link href="/font/SansationLight.ttf" rel="stylesheet">
    <script type="text/javascript" src="/js/script.js" defer></script>
</head>
<body>

   <div id="contentdevice">
    {{{body}}}
   </div>
<body>
  
</html>