

{{!-- select giches disponiveis --}}



<div =class="main_device flex-coll">

    <div class="header_device">
    </div>

    <div class="content-device flex-coll">
        <div class="sub-menu-view flex-row">
            <h1 class="titulo-device-choice">Selecione a Sala</h1>
            <div class="btn-voltar-main" onclick="voltar_main_choice_device()">Voltar</div>
        </div>

        <div class="group-box-devices flex-row">
            {{#each salas}}
            <div class="box-giche device-adm flex-coll" id="{{dataValues.id}}" onclick="choice_sala(this.id)">
                <div class="box-device-img flex-coll">
                    <img src="src/device/2.png" alt="">
                </div>
                <div class="box-device-title">
                    <h1>{{dataValues.tipo_sala}}  {{dataValues.nome}}</h1>
                </div>
                <div class="box-status-giche flex-coll">
                    {{!-- condicoes no handle par se estatos for 0 --}}
                    {{#ifCond dataValues.status_sala '==' 0}}
                        <div class="status-giche-box disponivel">Disponivel</div>
                    {{else}}
                        <div class="status-giche-box ocupado">Ocupado</div>
                    {{/ifCond}}


                </div>
            </div>
            {{/each}}

        </div>

    </div>

    
</div>