<div class="page-toten">
    <h1> Retire sua Senha</h1>
    {{!-- grupo de senha 2 tipos comum prferenfcial --}}
    <div class="grupo-container-tipos flex-row">

        <div class="container-tipos">
            <i class="fas fa-user fa-big"></i>
            <div class="btns" id='btn_comum' onclick="solicitar_senha(this.id)">
                <h1>Senha Comum</h1>
            </div>
        </div>

        <div class="container-tipos">
            <i class="fas fa-wheelchair fa-big"></i>
            <div class="btns"id='btn_preferencial' onclick="solicitar_senha(this.id)">
                <h1>Senha Preferencial</h1>
            </div>
        </div>

    </div>

    <h1 class="senha" id="genera_senha"></h1>
</div>

{{!-- chama js --}}