  /* DEVICE style */



.flex-coll{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}


.main_device{
    padding: 0;
    margin: 0;
    position: relative;
}


.header_device{
    background-color: rgb(0, 123, 180);;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    z-index: 1;
    top: 0;
}




.content-device{
    height:100%;
    
}


.group-box-devices{
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.titulo-device-choice{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px #fff;
    text-align: center;

}

.header-select-room{
    gap: 20px;
    height: 70px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}









/* mobile */
@media screen and (max-width: 768px) {
    .main_device{
        padding: 0;
        margin: 0;
    }
    .content-device{

        height: 100%;
    }
    .group-box-devices{
        flex-direction: column;
        gap: 10px;
    }
    
    .box-device{
        width: 100%;
    }
}

/*  condicoes de cor por valor do botao if else */