

/* condicoes if else */


/* ocupodo */

.ocupado {

 background-color: rgb(228, 62, 11);
 font-weight: bold;
}
.disponivel {
 background-color: rgb(0, 180, 150);
    font-weight: bold;
}


.status-giche-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

  /* DEVICE style */

.btn-voltar-main{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 123, 180);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);}
.btn-voltar-main:hover{
    background-color: rgb(0, 160, 234);
    cursor: pointer;
}

  .flex-coll{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}


.main_device{
    padding: 0;
    margin: 0;
    position: relative;
}


.header_device{
    background-color: rgb(0, 123, 180);
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    z-index: 1;
    top: 0;
}





.box-giche{
    background-color: rgb(0, 123, 180);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

}
.box-giche:hover{
    background-color: rgb(0, 160, 234);
    cursor: pointer;
}	
.box-device-img{
    justify-content: center;
    align-items: center;
}
.box-device-img img{
    width: 250px;
    height: 200px;
}



.btn-fecha-guiche{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 123, 180);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}





/* mobile */
@media screen and (max-width: 768px) {
    .main_device{
        padding: 0;
        margin: 0;
    }

    .group-box-devices{
        flex-direction: column;
    }
    
    .box-device{
        width: 100%;
    }
}

/*  condicoes de cor por valor do botao if else */


/* guiche novo atendimento */



.header-adm-item-counter{

    border-bottom: 1px solid rgb(0, 0, 0);
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.text-counter{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.counter-preferencial{
    background-color: rgb(0, 180, 150);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    padding: 5px;
    
}

.counter-comum{
    background-color: rgb(228, 62, 11);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}


.group-ficha-redict{
    position: relative;
    width: 500px;
    /* centraliza no meio descontando o side bar */
    transform: translateX(-10%);


    display:none;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 236, 241);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(85, 83, 83, 0.5);
    box-shadow: 0px 0px 5px rgba(133, 133, 133, 0.534);
    border-radius: 10px;
    
}
