<div class="main-adm flex-row">

    <div class ="menu-bar-adm flex-coll">

            <div class="menu-bar-adm-item2 flex-coll">
                <p>Configurações</p>
            </div>

            <div class="menu-bar-adm-item flex-coll">
                <a href="/adm/config">Configurações</a>
            </div>

            <div class="menu-bar-adm-item flex-coll">
                <a href="/adm/salas">Usuarios</a>
            </div>
            <div class="menu-bar-adm-item flex-coll">
                <a href="/adm/usuarios">Gighes</a>
            </div>
            <div class="menu-bar-adm-item flex-coll">
                <a href="/adm/relatorios">Salas</a>
            </div>
    </div>

    <div class="group-content-adm flex-coll">
        <div class ="header-adm flex-row"></div>
        <div class="content-adm"></div>
    </div>
    