

{{!-- select giches disponiveis --}}



<div =class="main_device flex-coll">

    <div class="header_device">
    </div>

    <div class="content-device flex-coll">
        <div class="header-select-room flex-row">
            <div class="btns" onclick="voltar_main_choice_device()">Voltar</div>
            <h1 class="titulo-device-choice">Selecione o guiche</h1>
        </div>
        

        <div class="group-box-devices flex-row">
            {{#each guiche}}
            <div class="btns device-adm flex-coll" id="{{dataValues.id}}" onclick="choice_guiche(this.id)">
                <div class="btn-img flex-coll">
                    <img src="src/device/0.png" alt="">
                </div>
                <div class="btn-title">
                    <h1>{{dataValues.nome}} {{dataValues.descricao}}</h1>
                </div>
                <div class="box-status-giche flex-coll">
                    {{!-- condicoes no handle par se estatos for 0 --}}
                    {{#ifCond dataValues.status_giche '==' 0}}
                        <div class="status-giche-box disponivel">Disponivel</div>
                    {{else}}
                        <div class="status-giche-box ocupado">Ocupado</div>
                    {{/ifCond}}


                </div>
            </div>
            {{/each}}

        </div>

    </div>

    
</div>